[user]
	name = Michael Bond
	email = software@the-forgotten.org
	signingKey = ""
[mergetool]
	keepBackup = true
[core]
	excludesfile = /Users/mrbond/.gitignore_global
	editor = emacs -nw
[push]
	default = simple
	
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
